@use 'variaveis';

@media (max-width: 1040px) {

    .container {
        margin: 0;
        padding: 0;
    }

    .header__nav__menu {
        column-gap: 0;
    }

    div.header__nav__menu__item {
        min-width: 100px;
        padding: 0 12px;
    }

    .logo__header__responsivo{
        width: 70px;
    }

    .title_descricao {
        width: 241px;
    }

    .titulo__menu {
        display: none;
    }

    li.header__nav__menu__item {
        min-width: 48px;
    }

    .menu__responsivo {
        display: block;

        &:hover {
            .menuMenu {
                display: block;
                position: absolute;
                top: 32px;
            
                background-color: variaveis.$corDeFundoHeader;
            
                & > .list__menuMenu {
                    display: flex;
                    gap: 6px;
                    align-items: center;
                    justify-content: flex-start;
            
                    padding: 8px 12px;
            
                    & > .imgBloco {
                        display: inline-block;
                        margin-right: 8px;
                    }
                }
            }
        }
    }

    .icone__header__menu {
        height: 16px;
    }

    button#btn-trailer,
    button#btn-usuario {
        display: none;
    }

    .sinopse {
        max-width: 100%;
        padding: 16px 0;
    }

    .shows__sugestoes {
        display: none;
    }

    .extras_responsividade,
    .shows__responsivo {
        display: none;
    }

    .shows__extras--is--active {
        display: block;
    }

    .shows__extras__list {
        justify-content: flex-start;
    }

    footer {
        padding-left: 20px;
        padding-right: 20px;
    }

    .footer__contato > ul {
        flex-wrap: wrap;
        gap: 4px;
    }
}