$corDeFundoHeader: #040714;
$corTexto_principal: silver;
$corTexto_secundario: #f9f9f9;
$corhbaropacity: rgba(249, 249, 249, 0.4);
$corheaderopacity1: rgba(4, 7, 20, 0.1);
$corheaderopacity2: rgba(4, 7, 20, 0.1);
$corheaderopacity3: rgba(4, 7, 20, 0.1);