@use 'reset';
@use 'variaveis';
@use 'header';
@use 'descricao_filme';
@use 'shows';

.container {
    min-width: 100vw;
    min-height: 100vh;

    background-image: url('../../dist/images/avatar.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.pd-main {
    padding: 0 calc(3.5vw + 24px)
}

.texto--medio {
    font-size: 14px;
    font-weight: bold;
    color: variaveis.$corTexto_secundario;
}

.texto--pequeno {
    color: variaveis.$corTexto_principal;
}

.texto--descritivo--pequeno {
    font-size: 12px;
    color: variaveis.$corTexto_principal;
}

.texto--descritivo--medio {
    font-weight: bold;
    color: variaveis.$corTexto_secundario;
}